.about-company {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 121px;
  padding-bottom: 120px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 67px;
  }

  @include vp-767 {
    padding-top: 63px;
    padding-bottom: 70px;
  }
}

.about-company__text-content {
  max-width: 435px;
  padding-top: 38px;
  padding-left: 60px;

  @include vp-1199 {
    max-width: none;
    margin-bottom: 44px;
    padding-top: 0;
    padding-left: 88px;
    padding-right: 88px;

    text-align: center;
  }

  @include vp-767 {
    margin-bottom: 33px;
    padding-left: 15px;
    padding-right: 15px;

    text-align: left;
  }
}

.about-company__heading {
  margin: 0 0 7px;
  padding: 0;

  font-size: 48px;
  line-height: 58px;

  @include vp-1199 {
    position: relative;
    left: -7px;
    margin-bottom: 0;

    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    left: 0;
    margin-bottom: 5px;

    font-size: 32px;
    line-height: 38px;
  }
}

.about-company__subtitle {
  margin: 0 0 39px;
  padding: 0;

  font-size: 18px;
  line-height: 27px;

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.about-company__text {
  margin-bottom: 8px;
  margin-right: 20px;

  @include vp-1199 {
    margin: 0;
  }

  @include vp-767 {
    padding-right: 30px;
  }

  &--hidden {
    @include vp-1199 {
      display: none;
    }
  }
}

.about-company__text p {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.about-company__video-wrapper {
  position: absolute;
  top: 408px;
  left: 50%;
  transform: translateX(-39.5%);
  width: 364px;
  min-height: 228px;

  background-color: $color-default-black;

  @include vp-1199 {
    top: auto;
    bottom: 0;
    transform: translate(-50%, 10%);
    width: 38.6%;
    min-height: 167px;
  }

  @include vp-767 {
    position: static;
    width: 100%;
    margin: 0 auto;
    transform: translateX(0);
  }
}

.about-company__video {
  @include vp-1199 {
    width: 100%;
  }
}

.about-company__video-mobile {
  @include vp-1199 {
    padding-bottom: 63%;
    overflow: hidden;
  }

  @include vp-767 {
    padding-bottom: 56.25%;
  }
}

.about-company__iframe {
  position: absolute;
  border: 0;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.about-company__video img {
  width: 364px;
  height: 228px;

  object-fit: cover;

  @include vp-1199 {
    width: 100%;
    height: auto;
  }
}

.about-company__video-button {
  position: absolute;
  top: 28%;
  left: 50%;
  width: 100px;
  height: 100px;
  padding: 0;
  z-index: 1;

  border: none;
  transform: translateX(-50%);

  @include vp-1199 {
    width: 75px;
    height: 75px;
  }

  @include vp-767 {
    top: 27%;
    width: 25%;
    height: 45%;
  }
}

.about-company__image {
  @include vp-1199 {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  @include vp-767 {
    width: 100%;
    margin-bottom: 40px;
    padding: 0;
  }
}

.about-company__image img {
  width: 660px;
  height: 401px;

  object-fit: cover;

  @include vp-1199 {
    width: 100%;
    height: auto;
  }
}
