.features {
  padding-top: 93px;
  padding-bottom: 124px;

  background-color: $color-grey;

  @include vp-1199 {
    padding-top: 47px;
    padding-bottom: 60px;
  }
}

.features__heading {
  position: relative;
  left: 5px;
  margin: 0 0 44px;
  padding: 0;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1199 {
    left: -10px;
    margin-bottom: 42px;

    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    left: -8px;
    margin-bottom: 45px;
    padding: 0 15px;

    font-size: 32px;
    line-height: 38px;
  }
}

.features__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 137px;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  &::after {
    content: "";
    position: absolute;
    top: 49%;
    width: 340px;
    height: 2px;
    background-color: $color-red-transparent;

    @include vp-1199 {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 49%;
    right: 0;
    width: 340px;
    height: 2px;
    background-color: $color-red-transparent;

    @include vp-1199 {
      display: none;
    }
  }

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 40px;
    column-gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
}

.features__subtitle {
  position: relative;
  top: 4px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: 33px;

  @include vp-1199 {
    top: 0;

    font-size: 20px;
    line-height: 27px;
  }

  @include vp-767 {
    order: 2;
    margin-bottom: 3px;
    text-align: center;
  }
}

.features__text {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @include vp-767 {
    order: 3;
    margin: 0 31px;

    text-align: center;
  }

  &--accent {
    font-weight: 400;

    @include vp-1199 {
      margin-top: 5px;
    }

    @include vp-767 {
      margin: 0;
    }
  }
}

.features__item {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content;
  column-gap: 30px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.features__accent {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  padding: 10px 42px 17px;

  text-align: center;
  color: $color-default-white;

  @include vp-1199 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    padding: 0;
  }

  @include vp-767 {
    padding: 10px 0 7px;
  }
}

.features__accent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  height: 307px;
  padding: 53px 24px;

  background-color: $color-default-black;

  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: $color-default-white $color-blue;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $color-default-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-blue;
    border: 3px solid $color-blue;
  }

  @include vp-1199 {
    width: 65%;
    height: 239px;
    margin: 0 auto;
    padding: 30px 45px 42px;
  }

  @include vp-767 {
    width: 100%;
    height: auto;
    padding-top: 38px;
    padding-bottom: 45px;
    overflow-y: hidden;
  }
}

.features__num-block {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-left: 20px;

  @include vp-1199 {
    padding-left: 0;
  }

  @include vp-767 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2px;
  }
}

.features__num {
  font-weight: 700;
  font-size: 71px;
  line-height: 71px;

  background: $text-gradient;
  background-clip: text;
  color: transparent;

  @include vp-1199 {
    font-size: 58px;
    line-height: 58px;
  }
}

.features__num-accent {
  display: block;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 74px;
  line-height: 74px;

  @include vp-1199 {
    position: relative;
    left: -3px;
  }

  @include vp-767 {
    left: -2px;
    margin-bottom: 0;
  }
}

.features__sub-num {
  position: relative;
  top: -6px;
  font-size: 14px;
  line-height: 21px;
  color: $color-blue-300;
}

.features__sub-num-accent {
  display: block;
  margin-bottom: 32px;
  font-size: 26px;
  line-height: 39px;

  @include vp-1199 {
    margin-bottom: 15px;

    font-size: 22px;
    line-height: 22px;
  }
}
