.features {
  padding-top: 93px;
  padding-bottom: 124px;
  background-color: $color-grey;
}

.features__heading {
  position: relative;
  left: 5px;
  margin: 0 0 44px;
  padding: 0;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.features__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 137px;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  &::after {
    content: "";
    position: absolute;
    top: 49%;
    width: 340px;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);

    @include vp-1199 {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 49%;
    right: 0;
    width: 340px;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);

    @include vp-1199 {
      display: none;
    }
  }

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 50px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.features__subtitle {
  position: relative;
  top: 4px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: 33px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
  }
}

.features__text {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  &--accent {
    font-weight: 400;
  }
}

.features__item {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content min-content;
  column-gap: 30px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.features__accent {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  padding: 10px 42px 17px;

  text-align: center;
  color: $color-default-white;

  @include vp-1199 {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
}

.features__accent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 240px;
  min-height: 307px;
  padding: 53px 24px;

  background-color: $color-default-black;

  @include vp-1199 {
    width: 60%;
    margin: 0 auto;
  }
}

.features__num-block {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-left: 20px;
}

.features__num {
  font-weight: 700;
  font-size: 71px;
  line-height: 71px;

  background: $text-gradient;
  background-clip: text;
  color: transparent;
}

.features__num-accent {
  display: block;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 74px;
  line-height: 74px;
}

.features__sub-num {
  position: relative;
  top: -6px;
  font-size: 14px;
  line-height: 21px;
  color: $color-blue-300;
}

.features__sub-num-accent {
  display: block;
  margin-bottom: 32px;
  font-size: 26px;
  line-height: 39px;
}
