.intro {
  display: flex;
  padding-left: 20px;

  color: $color-default-white;

  @include vp-1199 {
    padding-left: 0;
  }
}

.intro__text-content {
  display: grid;
  grid-template-columns: 112px auto;
  grid-template-rows: repeat(3, min-content);
  column-gap: 17px;
  margin-right: 64px;
  padding-top: 81px;

  @include vp-1199 {
    width: 48%;
    column-gap: 13px;
    margin-right: 28px;
    padding-top: 50px;
  }

  @include vp-767 {
    column-gap: 0;
    width: 96%;
    margin-right: 5px;
    padding-top: 48px;
  }
}

.intro__text {
  grid-column: 2 / 3;
  justify-self: flex-end;
  display: block;
  margin-right: 51px;
  margin-bottom: 15px;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  text-transform: lowercase;

  @include vp-1199 {
    margin-right: 4px;
    margin-bottom: 7px;

    font-size: 34px;
    line-height: 41px;
  }

  @include vp-767 {
    position: relative;
    left: -2px;
    margin-bottom: 14px;
    padding-right: 3px;

    font-size: 28px;
    line-height: 34px;
  }
}

.intro__heading {
  grid-column: 2 / 3;
  margin: 0 0 48px;
  padding: 0;

  font-size: 92px;
  line-height: 110px;
  letter-spacing: 0.05em;
  text-align: right;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: $color-default-white;
  text-transform: uppercase;

  @include vp-1199 {
    margin-bottom: 35px;

    font-size: 72px;
    line-height: 86px;
    text-transform: none;
  }

  @include vp-767 {
    position: relative;
    left: -5px;
    margin-left: 0;
    margin-bottom: 24px;
    text-align: right;
  }
}

.intro__services-list {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  position: relative;
  top: 148px;

  max-width: 112px;
  margin: 47px 0 0 0;
  padding: 0;

  list-style: none;

  font-size: 14px;
  line-height: 21px;
  text-align: right;

  @include vp-1199 {
    top: 90px;
  }

  @include vp-767 {
    top: 79px;
    left: 3px;
  }
}

.intro__btn {
  justify-self: flex-end;
  grid-column: 2 / 3;
  width: 96%;
  padding: 20px 55px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  justify-content: center;

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.3;
  }

  @include vp-1199 {
    padding: 20px 30px;
  }

  @include vp-767 {
    justify-self: flex-start;
    grid-column: 1 / 3;
    width: 99%;
    padding: 20px 30px;
  }
}

.intro__image {
  flex-shrink: 0;
  margin-top: -29px;

  @include vp-1199 {
    flex-shrink: 2;
    margin-top: 0;
  }
}

.intro__image img {
  width: 500px;
  height: 556px;

  object-fit: cover;

  @include vp-1199 {
    width: 100%;
    height: auto;
  }

  @include vp-767 {
    display: none;
  }
}
