.promotions {
  padding-top: 100px;
  padding-bottom: 66px;
}

.promotions__heading {
  margin: 0 0 34px;
  padding: 0;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.promotions__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.promotions__item {
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 211px;
  padding: 25px 29px 30px;

  border: 7px solid transparent;
  border-image: $border-gradient;
  border-image-slice: 1;
}

.promotions__accent {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;

  color: $color-default-white;

  @include vp-1199 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.promotions__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 39px 45px 47px;

  background-color: $color-red;
}

.promotions__subtitle {
  margin: 0 0 9px;
  padding: 0;

  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
}

.promotions__description {
  margin: 0 0 10px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
}

.promotions__link {
  display: block;
  width: fit-content;
  margin-top: 10px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;

  border-bottom: 1px solid $color-default-black;
}

.promotions__accent h3 {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.promotions__accent a {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;

  border-bottom: 1px solid $color-default-white;
}

.promotions__price {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;

  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

.promotions__price-num {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
}

.promotions__image {
  width: 50%;
}

.promotions__image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
