.promotions {
  padding-top: 100px;
  padding-bottom: 117px;
}

.promotions__heading {
  margin: 0;
  padding: 0;

  font-family: $ff-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
  }
}

.promotions__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 40px;
  margin: 0;
  padding: 0;

  list-style: none;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.promotions__item {
  border: 7px solid transparent;
  border-image: $border-gradient;
  border-image-slice: 1;
}

.promotions__item-accent {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;

  @include vp-1199 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.promotions__subtitle {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 26px;
  line-height: 150px;
}

.promotions__description {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
}

.promotions__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: underline;
  color: inherit;
}
